{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} RCCG HOP{% endblock %}</title>
    <link rel = "stylesheet" href = "{% static 'base.css' %}">
    <link rel = "stylesheet" href = "{% static 'scss.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{% static 'base.js' %}" defer></script>
</head>

<body>

    <!-- Navbar-->
    <div class="navigation">
      <nav>
        <ul class="nav-type">
          <li><a href="{% url 'home' %}" target="_blank" class="active">Home</a></li>
          <li><a href="{% url 'about' %}" target="_blank" class="active1">About</a></li>
          <li><a href="{% url 'programs' %}" target="_blank" class="active2">Programs</a></li>
          <li><a href="{% url 'projects' %}" target="_blank" class="active3">Projects</a></li>
          <link rel="stylesheet" href="{% url 'about' %}">
          <div class="line"></div>
            </i></a></li>
        </ul>
      </nav>
    </div>
        
    {% block block1 %}
    <!--Church Name-->
      <div class="center-container">
        <h1 class="church-name element">{% block churchname %} The Redeemed Christian <br> Church of God <br> House of Peace Parish </h1>
        <br>
        <h2 class="church-name element" style="font-size: 3em;"> (R.C.C.G H.O.P)</h2>
        <br> <h2 class="element"style="font-family: cursive; text-decoration: underline;">Welcome to God's Presence {% endblock churchname %}</h2>
        <img src="../static/churchlogo.jpg" class="church-img element" alt="Church">
      </div>    
    <!--End of Church Name-->
    {% endblock block1 %}

    {% block block2 %}
    <!-- About Us Section-->
    <section class="py-5 general-frame element">
      <div class="container my-3">
          <div class="row gx-4 align-items-center justify-content-between min-vh-100">
              <div class="col-md-5 order-2 order-md-1">
                  <div class="mt-5 mt-md-0 element">
                      <span class="text-muted"> Get to know R.C.C.G H.O.P</span>
                      <h2 class="display-5 fw-bold" style="color: #4b2e2e; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">{% block cardtitle %} About Us {% endblock cardtitle %}</h2> 
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
              </div>

              {% block imagegrid %}
              <div class="col-md-6 offset-md-1 order-1 order-md-2">
                  <div class="row">
                      <div class="col-6">
                          <div class="mb-2 picture-wrapper">
                              <img class="img-fluid rounded-3" src="../static/church1.jpg">
                              <img class="cover-img" src="../static/hopblack.jpg" alt="Cover Image">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="mb-2 picture-wrapper">
                              <img class="img-fluid rounded-3" src="../static/church2.jpg">
                              <img class="cover-img" src="../static/hopblack.jpg" alt="Cover Image">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="mb-2 picture-wrapper">
                              <img class="img-fluid rounded-3" src="../static/church3.jpg">
                              <img class="cover-img" src="../static/hopblack.jpg" alt="Cover Image">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="mb-2 picture-wrapper">
                              <img class="img-fluid rounded-3" src="../static/church1.jpg">
                              <img class="cover-img" src="../static/hopblack.jpg" alt="Cover Image">
                          </div>
                      </div>
                  </div>
              </div>
              {% endblock imagegrid %}

          </div>
      </div>
    </section>
    <!-- End of About Us Section-->
    {% endblock block2 %}

    {% block block3 %}
    <!-- Welcome Address -->
    <div class="welcome-wrapper element">
      <div class="general-frame element">
        <div class="welcome-section element">
          <h2 class="element" style="color: #4b2e2e; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">Pastor's <br> Welcome Address</h2>
          <p class="element">Welcome to our community! We are glad to have you here. Our mission is to share love, faith, and support as we grow together in Christ. We encourage you to participate in our events and services. Thank you for being a part of our family!</p>
          <div class="picture-wrapper" style="width: auto;">
            <img class="img-fluid rounded-3" src="../static/church1.jpg">
            <img class="cover-img" src="../static/hopblack.jpg" alt="Cover Image">          </div>
        </div>
    </div>
  </div>
    <!-- End of Welcome Address -->
    {% endblock block3 %}

    {% block block4 %}
    <!-- Testimonies Section -->
    <div class="general-frame element">
      <div class="testimonies-container element">
        <section>
          <div class="testimonies-frame element">
            <h2 class="text-center element" style="color: #4b2e2e; margin: 20px; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">Testimonies</h2>

            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="cover item-a">
                    <h1>Sister<br>Toyin</h1>
                    <span class="price">"Ejo ba Baba mi"</span>
                    <div class="card-back">
                      <blockquote>"Thanking God for the Gift of life, for allowing me to wake up healthy and hearty"</blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="cover item-b">
                    <h1>Brother<br>Adebayo</h1>
                    <span class="price">"God of Mercy"</span>
                    <div class="card-back">
                      <blockquote>"Thanking God for the Gift of life, for allowing me to wake up healthy and hearty"</blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="cover item-c">
                    <h1>Sister<br>Taiwo</h1>
                    <span class="price">"Bless God"</span>
                    <div class="card-back">
                      <blockquote>"Thanking God for the Gift of life, for allowing me to wake up healthy and hearty"</blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </section>
        </div>
      </div>
      <!-- End of Services Section -->
    {% endblock block4 %}

    {% block block5 %}
    <!-- Schedule-->
    <div class="general-frame element">
      <div class="ag-format-container element">
        <div class="general-frame">
        <h2 class="text-center element" style="color: #4b2e2e; margin: 20px; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">Regular Schedule</h2>
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Family Prayers
              </div>

              <div class="ag-courses-item_date-box">
                Every 3rd Monday:
                <span class="ag-courses-item_date">
                  7:00pm-8:00pm
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item ">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Home Cell
              </div>
      
              <div class="ag-courses-item_date-box">
                Weekly on Tuesdays:
                <span class="ag-courses-item_date">
                  6:00pm-7:00pm
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Digging Deep / Mid-week Service
              </div>
      
              <div class="ag-courses-item_date-box">
                Every Wednesday
                <span class="ag-courses-item_date">
                  7:30pm-8:30pm
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Holy Communion Service
              </div>
      
              <div class="ag-courses-item_date-box">
                Last Thursday of Each month:
                <span class="ag-courses-item_date">
                  7:00pm-7:30pm
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Thanksgiving Sunday
              </div>
      
              <div class="ag-courses-item_date-box">
                Every 1st Sunday
                <span class="ag-courses-item_date">
                  10:00am-12:00pm
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Choir practice
              </div>
      
              <div class="ag-courses-item_date-box">
                Every Saturday
                <span class="ag-courses-item_date">
                  6:00pm-8:00pm
                </span>
              </div>
            </a>
          </div>
          </div>
          </div>
        </div>
      </div>
      <!--End of Regular Schedule-->
      {% endblock block5 %}
  
      {% block block6 %}
      <!--Calendar-->
      <div class="general-frame element">
        <div class="all-calendar element">
          <div class="general-frame">
          <h2 class="calendar-title element" style="color: #4b2e2e; margin: 20px; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">{% block calendar-name %} Events {% endblock calendar-name%} Calendar</h2>
          <h3 id="currentMonth" class="calendar-title element" style="color: #4b2e2e; margin: 20px; font-size: 3em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;"> </h3>
          <section class="calendar-container element">
              <div class="calendar-wrapper">
                <button class="month-button" id="prevMonth"><i class="fas fa-arrow-left"></i></button>
                <div id="calendar"></div>
                <button class="month-button" id="nextMonth"><i class="fas fa-arrow-right"></i></button>
              </div>
          </section>
          <div class="general-frame">
        </div>
        </div>
        <div id="eventModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="eventTitle"></h2>
                <p id="eventDescription"></p>
            </div>
        </div>
      </div>
      <!--End of calendar-->
      {% endblock block6 %}

      {% block block7 %}
      <!-- Contact Us Section -->
      <div class="general-frame element">
          <h2 class="calendar-title element" style="color: #4b2e2e; margin: 20px; font-size: 6em; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Georgia', serif;">
              {% block form-header %} Contact Us {% endblock form-header %}
          </h2>
      
          <div id="contact-container" class="element">
              <h1 class="element">&bull; {% block form-message %} Leave Us A Message {% endblock form-message %} &bull;</h1>
              <div class="underline"></div>
              <div class="icon_wrapper">
                  <!-- Your SVG icon here -->
              </div>
      
              <form action="{% url 'projects' %}" method="post" id="contact_form">
                  {% csrf_token %}
                  <div class="name">
                      <label for="id_name">Your Name</label>
                      {{ form.name }}
                      {% if form.name.errors %}
                          <div class="error">{{ form.name.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="email">
                      <label for="id_email">Your Email</label>
                      {{ form.email }}
                      {% if form.email.errors %}
                          <div class="error">{{ form.email.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="telephone">
                      <label for="id_phone">Your Phone Number</label>
                      {{ form.phone }}
                      {% if form.phone.errors %}
                          <div class="error">{{ form.phone.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="subject">
                      <label for="id_contribution_type">Type of Contribution</label>
                      {{ form.contribution_type }}
                      {% if form.contribution_type.errors %}
                          <div class="error">{{ form.contribution_type.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="message">
                      <label for="id_message">Message or Description</label>
                      {{ form.message }}
                      {% if form.message.errors %}
                          <div class="error">{{ form.message.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="submit">
                      <input type="submit" value="Send Message" id="form_button" />
                  </div>
              </form><!-- // End form -->
          </div><!-- // End #container -->
      </div>
      <!-- End of Contact Us Section -->
      {% endblock block7 %}
      

      <!-- Footer -->
      <footer class="text-center text-lg-start bg-body-tertiary" style="background-color: black; color: antiquewhite;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom element">
          <div class="me-5 d-none d-lg-block element">
            <span>Get connected with us on social networks:</span>
          </div>
          <div>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset" style="color: antiquewhite;">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section>
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3 element">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 element">
                <h6 class="text-uppercase fw-bold mb-4 " style="color: antiquewhite;">
                  <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p style="color: antiquewhite;">
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
      
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 element">
                <h6 class="text-uppercase fw-bold mb-4 " style="color: antiquewhite;">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Angular</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">React</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Vue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Laravel</a>
                </p>
              </div>
      
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 element">
                <h6 class="text-uppercase fw-bold mb-4" style="color: antiquewhite;">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset" style="color: antiquewhite;">Help</a>
                </p>
              </div>
      
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 element">
                <h6 class="text-uppercase fw-bold mb-4" style="color: antiquewhite;">Contact</h6>
                <p style="color: antiquewhite;"><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p style="color: antiquewhite;">
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p style="color: antiquewhite;"><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p style="color: antiquewhite;"><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4 element" style="background-color: rgba(20, 1, 1, 0.05); color: antiquewhite;">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/" style="color: antiquewhite;">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      
  <!-- Footer -->

</body>
</html>