{% extends 'base.html' %}

{% block title %}HOP Projects{% endblock %}

{% block churchname %}
    House of Peace <BR> Projects
{% endblock churchname %}

{% block block2 %}
{% endblock block2 %}
{% block block3 %}
{% endblock block3 %}
{% block block4 %}
{% endblock block4 %}
{% block block5 %}
{% endblock block5 %}
{% block calendar-name%}
    Projects
{% endblock calendar-name%}
{% block block6 %}
{{ block.super }}   
{% endblock block6 %}
{% block form-header %}
Projects Contribution <br> Form
{% endblock form-header %}
{% block form-message %}
    <p class="lead">Please fill out the form below to contribute to the projects.</p>
{% endblock form-message %}